<!DOCTYPE html>
<header>
  <title>Es hat noch keinen Namen - about</title>
</header>

<div id=wrap>

  <header>
    <h1>Es hat noch keinen Namen...</h1>
  </header>

  <div id="about">

    <div id="infoIcon"></div>
    <p>
      Mit dieser App wollen wir dir helfen, einen Namen für dein Baby zu finden. Du kannst deine Suche eingrenzen, indem
      du das Geschlecht, die Anzahl der Buchstaben oder den gewünschten Anfangsbuchstaben angibst. Du erhältst ein
      Diagramm, das dir die entsprechenden Namen in der Reihenfolge ihrer Beliebtheit anzeigt. Falls du ganz ratlos
      bist, klick einfach auf den Zufallsgenerator für ein beliebiges Ergebnis!
    </p>

    <p>
      Möchtest du mehr Informationen über einen bestimmten Namen, klick einfach auf den Balken und lass dir den Eintrag
      aus Wikipedia anzeigen.
    </p>

    <p>
      Anschließend kannst du das Ergebnis mithilfe der Sharebuttons mit deinen FreundInnen teilen.
    </p>

    <p>
      Die Daten für diese Applikation stammen vom Open-Data-Projekt <a href="http://data.gv.at/">data.gv.at</a>. Sie
      enthalten jeweils die 200 beliebtesten Namen Wiens pro Jahr, von 2000 bis 2011. Lass dich also durch diese
      Anwendung von den Namen Wiens inspirieren.
    </p>

    <p id="home">
      <%= link_to "Suche jetzt den passenden Namen für dein Baby!", root_path %>
      <!--<a href="index.html" title="zur Suche">Suche jetzt den passenden Namen für dein Baby!</a>-->
    </p>

    <div id="iconCopyright"></div>

    <p class="impressum">
      <span>Konzept:</span> Anna Beham, Clara Buchhorn, Michael Hettegger, Georg Eschbacher</br>
      <span>Design:</span> Anna Beham, Clara Buchhorn</br>
      <span>Programmierung:</span> Michael Hettegger, Georg Eschbacher</br>
    </p>

    <p class="impressum">
      Fachhochschule Salzburg, 2012/13
    </p>

    <div class="clear_line"></div>

  </div>
  <!--end main-->

  <footer>

  </footer>

</div>
<!--end wrap-->

</body>
</html>
